/Backups
/Benchmark
/CrossValidation
/Current Model
/Images for Figures
/Old Method
/runs
/Validation
/.vscode
**/__pycache__
/Training Data 1D
/TrackingTest
/ynetmodel/trainedModel.pt
/Datasets
/images
